## Data :

* Qualitative -

*things, and their attributes
*Quanitative

sizes of quantities
*Tables, somthing like columns,

row - stores data in numbers
*Two things:

*Central Tendency - We try to identify the middle/average/common value

Spread - How much the data is spread around

5 20 50 80 130

In [23]:
len(nums)

5

In [39]:
nums = [20,80,130,50,90,89]
nums.sort()
print('sorted list nums: ',nums)
# if the nums is odd, length/2
# 3/2 = 1.5
# 7/2 = 3.5
#  0  1   2   3    4
# [5, 20, 50, 80, 130]

mean = sum(nums) / len(nums)

print('mean of the nums is: ',mean)

if len(nums)%2 == 0:
    #if length is even
    median = (nums[len(nums)//2] + nums[(len(nums)//2) - 1]) / 2
    print("median is: ",median)
else:
    # if the length is odd
    median = nums[len(nums)//2]
    print("median is: ",median)


# nums[2]

sorted list nums:  [20, 50, 80, 89, 90, 130]
mean of the nums is:  76.5
median is:  84.5

In [40]:

(len(nums)/2) - 1

2.0

In [41]:
# nums 6 ---- 2

# actual median
(nums[2] + nums[3]) /2

84.5

Explore how to sort a list manually
create a program, that takes a list, and returns a sorted list

only allowed to google, when you have struggled for atleast 1 hour
use google, create a different program, based on the same - understand what is happening
you are not allowed to use list methods or libraries
can use list, but not methods
you can use numpy but not the methods like sort

In [24]:
import pandas as pd

In [43]:
iris = pd.read_csv('iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [47]:
# aggregate

df = iris[['petal_length', 'petal_width', 'sepal_length', 'sepal_width']]
print('the mean is: ', df.mean())
print('the median is: ', df.median())
print('the mode is: ',df.mode())

the mean is:  petal_length    3.758667
petal_width     1.198667
sepal_length    5.843333
sepal_width     3.054000
dtype: float64
the median is:  petal_length    4.35
petal_width     1.30
sepal_length    5.80
sepal_width     3.00
dtype: float64
the mode is:     petal_length  petal_width  sepal_length  sepal_width
0           1.5          0.2           5.0          3.0

In [51]:
SL = iris[['sepal_length']]
SL.mode() #this is the most freaquent value

   sepal_length
0           5.0

In [54]:
xdf['sepal_length'].mode()

0    5.0
Name: sepal_length, dtype: float64

In [55]:
x = {
    'a': [1,2,3,4,5,6,7],
    'b': [3,3,4,5,5,5,6]
}
xdf = pd.DataFrame(x)
xdf

   a  b
0  1  3
1  2  3
2  3  4
3  4  5
4  5  5
5  6  5
6  7  6

In [56]:
xdf['b'].std() # variance
xdf['b'].var()
xdf['b'].count()

np.int64(7)

In [57]:
df.describe() #Statistic relared to a dataframe

       petal_length  petal_width  sepal_length  sepal_width
count    150.000000   150.000000    150.000000   150.000000
mean       3.758667     1.198667      5.843333     3.054000
std        1.764420     0.763161      0.828066     0.433594
min        1.000000     0.100000      4.300000     2.000000
25%        1.600000     0.300000      5.100000     2.800000
50%        4.350000     1.300000      5.800000     3.000000
75%        5.100000     1.800000      6.400000     3.300000
max        6.900000     2.500000      7.900000     4.400000

In [59]:
 # variance
import numpy as np

class1 = np.array([50,47,51,49,47])

mean = class1.mean()
print("Mean is:", mean)

# kira variance
sum_of_diff = (class1 - mean)**2
variance = sum_of_diff.sum() / len(class1)

print("The variance is:", variance)

Mean is: 48.8
The variance is: 2.5599999999999996

In [60]:
df = np.array

In [62]:
class2 = [5, 20, 50, 80, 130]

mean = sum(class2) / len(class2)
print("Mean is:", mean)

Mean is: 57.0

In [63]:

# Mean = Number of observations / Sum of observations​
#(purata) = Jumlah semua pemerhatian ÷ Bilangan pemerhatian

data = [50, 47, 51, 49, 47]

mean = sum(data) / len(data)
print("Mean:", mean)

Mean: 48.8

In [64]:
# Median = Sort the numbers
# Median ialah nilai tengah dalam satu set data apabila data disusun dari yang terkecil ke yang terbesar.
# Ia menunjukkan “tengah-tengah” data.

data = [50, 47, 51, 49, 47]

data.sort()
print("Sorted data:", data)

Sorted data: [47, 47, 49, 50, 51]

In [65]:
# Targeted the middle numbers
n = len(data)

if n % 2 == 1:  # n ganjil
    median = data[n // 2]
else:           # n genap
    median = (data[n//2 - 1] + data[n//2]) / 2

print("Median:", median)

Median: 49