In [ ]:
# import dataset
# run the method we learnt value count,unique, on species column
# create a new df (iris_without_species),without the species column

In [9]:
import pandas as pd

df = pd.read_csv('iris.csv')

In [12]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [10]:
print(df['species'].value_counts())

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [11]:
print(df['species'].unique())

['setosa' 'versicolor' 'virginica']

In [13]:
iris_without_species = df.drop("species", axis=1)

print(iris_without_species)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [18]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [51]:
species = df["species"]

species.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [52]:
species1 = df.drop(["sepal_length","sepal_width","petal_length","petal_width"], axis=1)

species1.head()

type(species1)

pandas.core.frame.DataFrame

In [53]:
# instead
 
species2 = df.drop(["sepal_length","sepal_width","petal_length","petal_width"], axis=1)

species2.head()

type(species2)

pandas.core.frame.DataFrame

In [54]:
iris_without_species.head()

,sepal_length,sepal_width,petal_length,petal_width,"(sepal_length, sepal_width)",sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,17.85,0.28
1,4.9,3.0,1.4,0.2,14.70,14.70,0.28
2,4.7,3.2,1.3,0.2,15.04,15.04,0.26
3,4.6,3.1,1.5,0.2,14.26,14.26,0.30
4,5.0,3.6,1.4,0.2,18.00,18.00,0.28

In [56]:
# calculated column sepal area
sepalarea = iris_without_species["sepal_length"] 

sepalarea.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

In [57]:
iris_without_species['sepal_area'] = sepalarea

iris_without_species.head()

,sepal_length,sepal_width,petal_length,petal_width,"(sepal_length, sepal_width)",sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,5.1,0.28
1,4.9,3.0,1.4,0.2,14.70,4.9,0.28
2,4.7,3.2,1.3,0.2,15.04,4.7,0.26
3,4.6,3.1,1.5,0.2,14.26,4.6,0.30
4,5.0,3.6,1.4,0.2,18.00,5.0,0.28

In [58]:
#petal area!!!

petalarea = iris_without_species["petal_length"] * iris_without_species["petal_width"]

iris_without_species['petal_area'] = petalarea

iris_without_species.head()

,sepal_length,sepal_width,petal_length,petal_width,"(sepal_length, sepal_width)",sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,5.1,0.28
1,4.9,3.0,1.4,0.2,14.70,4.9,0.28
2,4.7,3.2,1.3,0.2,15.04,4.7,0.26
3,4.6,3.1,1.5,0.2,14.26,4.6,0.30
4,5.0,3.6,1.4,0.2,18.00,5.0,0.28

In [ ]:
# filter our parts of dataframe using pandas > 14

iris_without_species["petal_area"] = petalarea

iris_without_species.head(50)

,sepal_length,sepal_width,petal_length,petal_width,"(sepal_length, sepal_width)",sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,5.1,0.28
1,4.9,3.0,1.4,0.2,14.70,4.9,0.28
2,4.7,3.2,1.3,0.2,15.04,4.7,0.26
3,4.6,3.1,1.5,0.2,14.26,4.6,0.30
4,5.0,3.6,1.4,0.2,18.00,5.0,0.28
5,5.4,3.9,1.7,0.4,21.06,5.4,0.68
6,4.6,3.4,1.4,0.3,15.64,4.6,0.42
7,5.0,3.4,1.5,0.2,17.00,5.0,0.30
8,4.4,2.9,1.4,0.2,12.76,4.4,0.28
9,4.9,3.1,1.5,0.1,15.19,4.9,0.15
10,5.4,3.7,1.5,0.2,19.98,5.4,0.30
11,4.8,3.4,1.6,0.2,16.32,4.8,0.32
12,4.8,3.0,1.4,0.1,14.40,4.8,0.14
13,4.3,3.0,1.1,0.1,12.90,4.3,0.11
14,5.8,4.0,1.2,0.2,23.20,5.8,0.24
15,5.7,4.4,1.5,0.4,25.08,5.7,0.60
16,5.4,3.9,1.3,0.4,21.06,5.4,0.52
17,5.1,3.5,1.4,0.3,17.85,5.1,0.42
18,5.7,3.8,1.7,0.3,21.66,5.7,0.51
19,5.1,3.8,1.5,0.3,19.38,5.1,0.45
20,5.4,3.4,1.7,0.2,18.36,5.4,0.34
21,5.1,3.7,1.5,0.4,18.87,5.1,0.60
22,4.6,3.6,1.0,0.2,16.56,4.6,0.20
23,5.1,3.3,1.7,0.5,16.83,5.1,0.85
24,4.8,3.4,1.9,0.2,16.32,4.8,0.38
25,5.0,3.0,1.6,0.2,15.00,5.0,0.32
26,5.0,3.4,1.6,0.4,17.00,5.0,0.64
27,5.2,3.5,1.5,0.2,18.20,5.2,0.30
28,5.2,3.4,1.4,0.2,17.68,5.2,0.28
29,4.7,3.2,1.6,0.2,15.04,4.7,0.32
30,4.8,3.1,1.6,0.2,14.88,4.8,0.32
31,5.4,3.4,1.5,0.4,18.36,5.4,0.60
32,5.2,4.1,1.5,0.1,21.32,5.2,0.15
33,5.5,4.2,1.4,0.2,23.10,5.5,0.28
34,4.9,3.1,1.5,0.1,15.19,4.9,0.15
35,5.0,3.2,1.2,0.2,16.00,5.0,0.24
36,5.5,3.5,1.3,0.2,19.25,5.5,0.26
37,4.9,3.1,1.5,0.1,15.19,4.9,0.15
38,4.4,3.0,1.3,0.2,13.20,4.4,0.26
39,5.1,3.4,1.5,0.2,17.34,5.1,0.30
40,5.0,3.5,1.3,0.3,17.50,5.0,0.39
41,4.5,2.3,1.3,0.3,10.35,4.5,0.39
42,4.4,3.2,1.3,0.2,14.08,4.4,0.26
43,5.0,3.5,1.6,0.6,17.50,5.0,0.96
44,5.1,3.8,1.9,0.4,19.38,5.1,0.76
45,4.8,3.0,1.4,0.3,14.40,4.8,0.42
46,5.1,3.8,1.6,0.2,19.38,5.1,0.32
47,4.6,3.2,1.4,0.2,14.72,4.6,0.28
48,5.3,3.7,1.5,0.2,19.61,5.3,0.30
49,5.0,3.3,1.4,0.2,16.50,5.0,0.28

In [2]:
# filter our parts of dataframe using pandas 

largeFlowers = iris_without_species[iris_without_species["petal_area"] > 15]

largeFlowers.head(10)

NameError: name 'iris_without_species' is not defined

In [61]:
# filter our parts of dataframe using pandas 

largeFlowers = iris_without_species[iris_without_species["petal_area"] > 15]

largeFlowers.head(10)

,sepal_length,sepal_width,petal_length,petal_width,"(sepal_length, sepal_width)",sepal_area,petal_area
109,7.2,3.6,6.1,2.5,25.92,7.2,15.25
118,7.7,2.6,6.9,2.3,20.02,7.7,15.87

In [62]:
# how many large flowers we have in iris dataset\
# how many flowers have sepal area exactly 16

large_flowers_count = df[df['sepal_length'] > 5].shape[0]

print("Number of large flowers (sepal_length > 5):", large_flowers_count)

Number of large flowers (sepal_length > 5): 118

In [ ]:
df['sepal_area'] = df['sepal_length'] * df['sepal_width']

exact_area_count = df[df['sepal_area'] == 16].shape[0]

print("Number of flowers with sepal area exactly 16:", exact_area_count)

Number of flowers with sepal area exactly 16: 1

In [ ]:
sortedLargeFlowers = largeFlowers.sort_values("sepal_area")

largeFlower = sortedLargeFlowers["sepal_area"]

largestFlower = largeFlower.max()