<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: center; position: absolute; right: 20px;color: #0a0a0a; ">
        Mohammad Idrees Bhat <br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #0a0a0a;">Tech Skills Trainer | AI/ML Consultant</span> <!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->

<!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->

<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
    Storytelling with EDA <br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;">  --

<div style="background-color: grey; color: black; padding: 10px;">
    <h4>

<b>AGENDA</b> 

1.  
2.  
3.  
4.

<div style="background-color: grey; color: black; padding: 10px;">
    <h4><b>Skills Covered</b> <p><p>

- ...

<div style="background-color: grey; color: black; padding: 10px;">
    <h4><b>Learning Outcomes</b> <p><p>

By the end of this lesson, you will be able to:

- Understand what a **data story** is (Question → Analysis → Insight → Recommendation)
- Use **SQL** for basic data extraction for EDA:
  - `SELECT`, `WHERE`, `ORDER BY`, `GROUP BY`
- Combine **SQL + Pandas + Visuals** to build a small **3-chart EDA story**
- Communicate insights in **simple sentences** for a business audience

We’ll treat the `tips` dataset (from `seaborn`) as a **restaurant sales/orders** table:

- Each row = one bill (order)
- Columns:
  - `total_bill` (total amount)
  - `tip` (tip amount)
  - `day`, `time`, `size` (group size), etc.

<!-- Link the Montserrat font -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<!-- Main div with centered content and a flexible box size, no scroll bar -->
<div style="background-color: #baf733; min-height: 100px; width: 100%; display: flex; justify-content: center; align-items: center; position: relative; padding: 20px; box-sizing: border-box; font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 20px; border-radius: 15px;">
    <div style="position: absolute; top: 10px; right: 10px; padding: 5px 10px; font-size: 14px; color: rgba(0, 0, 0, 0.05); border-radius: 10px;">Mohammad Idrees Bhat</div>
    <!-- Fill the below text with question -->
    <!-- Fill the below text with question -->
    What’s one thing you love doing with your friends?
    <!-- Fill the above text with question -->
    <!-- Fill the above text with question -->

</div>

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h3>   What is a Data Story?

A **data story** is more than just charts.

It usually follows this flow:

1. **Question** – What are we trying to understand or decide?
2. **Data** – What data do we have that can help?
3. **Analysis** – Calculations, grouping, filtering, and exploring patterns.
4. **Visualization** – Charts that make patterns easy to see.
5. **Insight** – What does the data say, in simple language?
6. **Recommendation** – So what? What should we do about it?

Example (tips dataset):

> **Question:** On which days does the restaurant earn the most money?  
> **Analysis:** Sum total bill amounts per day.  
> **Visualization:** Bar chart of total revenue per day.  
> **Insight:** Friday and Saturday have the highest revenue.  
> **Recommendation:** Staff more employees on Friday and Saturday evenings.

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h3>   Plan of the steps


We will:

1. Load the `tips` dataset (restaurant bills).
2. Save it into a **SQLite** database as a table (`orders`).
3. Use **SQL queries** to answer 3 questions:
   - Q1: Which **day** brings the highest total revenue?
   - Q2: Which **day/time** has the highest **tip %**?
   - Q3: How does **party size** relate to **total bill**?
4. For each question:
   - Write a SQL query
   - Convert results to a Pandas DataFrame
   - Plot a chart
   - Write a short insight sentence

At the end, we will combine these into a **mini data story**.

In [1]:
# 3. Setup: Import libraries

import sqlite3          # for SQLite database
import pandas as pd     # for data manipulation
import seaborn as sns   # for sample dataset
import matplotlib.pyplot as plt  # for plotting

sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (7, 5)

### Load the Dataset (`tips`)

We use `seaborn.load_dataset("tips")`:

- Each row = one restaurant bill
- Important columns:
  - `total_bill` – total amount in dollars
  - `tip` – tip amount in dollars
  - `day` – day of week
  - `time` – Lunch or Dinner
  - `size` – number of people at the table

In [2]:
# 4.1 Load tips dataset
tips = sns.load_dataset("tips")

# Look at first few rows
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
# 4.2 Basic info and summary

tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [4]:
tips.describe().round(2)

       total_bill     tip    size
count      244.00  244.00  244.00
mean        19.79    3.00    2.57
std          8.90    1.38    0.95
min          3.07    1.00    1.00
25%         13.35    2.00    2.00
50%         17.80    2.90    2.00
75%         24.13    3.56    3.00
max         50.81   10.00    6.00

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4>   Create a SQLite Database and Save the Table

 
We will:

1. Create an **in-memory** SQLite database
2. Save the `tips` DataFrame as a table called `orders`
3. Use **SQL queries** on this table

In [ ]:
# 5.1 Create an in-memory SQLite database
conn = sqlite3.connect(":memory:")  # database lives in RAM

# 5.2 Save the tips DataFrame as a table named "orders"
tips.to_sql("orders", conn, index=False, if_exists="replace")

# 5.3 Quick check: run a simple SQL query
query = "SELECT * FROM orders LIMIT 5;"
pd.read_sql_query(query, conn)

#### Quick SQL Refresher (Concept)

We will use:

- `SELECT` – choose columns  
- `FROM` – specify table  
- `WHERE` – filter rows  
- `GROUP BY` – group rows to compute aggregations (sum, avg, count)  
- `ORDER BY` – sort results

Example (concept):

```sql
SELECT day, SUM(total_bill) AS total_revenue
FROM orders
GROUP BY day
ORDER BY total_revenue DESC;

This means:

Group bills by day

Sum the total_bill for each day

Sort days by total revenue (highest first)

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4>   PART A – Question 1: Which day brings the highest total revenue?

We want to know:

> On which **day** does the restaurant make the **most total money**?

Steps:

1. Use SQL: group by `day`, sum `total_bill`
2. Sort by total revenue (descending)
3. Visualize with a bar chart
4. Write a simple insight

In [ ]:
# A.1 SQL query: total revenue by day

query_q1 = """
SELECT
    day,
    SUM(total_bill) AS total_revenue
FROM orders
GROUP BY day
ORDER BY total_revenue DESC;
"""

revenue_by_day = pd.read_sql_query(query_q1, conn)
revenue_by_day

In [ ]:
# A.2 Plot total revenue by day

plt.figure()
sns.barplot(data=revenue_by_day, x="day", y="total_revenue")
plt.title("Total Revenue by Day")
plt.xlabel("Day of Week")
plt.ylabel("Total Revenue ($)")
plt.show()

#### Insight for Question 1

You can guide students to write something like:

> **Insight Q1:**  
> The restaurant earns the highest total revenue on **[top day]**, followed by **[second day]**.  
> This suggests that these days are the **busiest** or **highest spending** days.

In class, ask them:

- Why might that day be higher? (e.g., weekend dining)
- What could the restaurant do on those days? (e.g., more staff, promotions)

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4>   PART B – Question 2: On which day/time is tip percentage highest?


Here we ask:

> When do customers leave the **best tips** as a percentage of the bill?

We will:

1. Add a **tip percentage** = tip / total_bill * 100
2. Use SQL to compute **average tip %** grouped by `day` and `time`
3. Visualize using a bar plot
4. Write an insight

In [ ]:
# B.1 Add tip percentage as a column in the SQL table as well

# First, we can add it in Pandas
tips["tip_pct"] = tips["tip"] / tips["total_bill"] * 100

# Write updated table back to SQLite (replace old one)
tips.to_sql("orders", conn, index=False, if_exists="replace")

# Quick check
pd.read_sql_query("SELECT tip, total_bill, tip_pct FROM orders LIMIT 5;", conn)

In [ ]:
# B.2 SQL query: average tip % by day and time

query_q2 = """
SELECT
    day,
    time,
    AVG(tip_pct) AS avg_tip_pct
FROM orders
GROUP BY day, time
ORDER BY avg_tip_pct DESC;
"""

tip_pct_by_day_time = pd.read_sql_query(query_q2, conn)
tip_pct_by_day_time

In [ ]:
# B.3 Plot average tip % by day and time

plt.figure()
sns.barplot(
    data=tip_pct_by_day_time,
    x="day",
    y="avg_tip_pct",
    hue="time"
)
plt.title("Average Tip % by Day and Time")
plt.xlabel("Day of Week")
plt.ylabel("Average Tip %")
plt.legend(title="Time")
plt.show()

#### Insight for Question 2

Sample guided insight:

> **Insight Q2:**  
> The highest average tip percentage occurs on **[day/time combination]**.  
> This suggests that customers are more generous with tips during **[e.g., weekend dinners]**.  
> The restaurant might focus on **excellent service** and **premium offerings** during these periods.

Ask students:

- Do they see any differences between Lunch and Dinner?
- What might explain these patterns? (e.g., mood, type of customer, special occasions)

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4>   PART C – Question 3: Does party size affect total bill?



Now we ask:

> Do larger groups tend to spend more?

We will:

1. Use SQL to compute **average total_bill per party size**
2. Visualize using a bar chart or line
3. Write an insight in simple language

In [ ]:
# C.1 SQL query: average total_bill by size

query_q3 = """
SELECT
    size,
    AVG(total_bill) AS avg_total_bill,
    COUNT(*) AS num_orders
FROM orders
GROUP BY size
ORDER BY size;
"""

bill_by_size = pd.read_sql_query(query_q3, conn)
bill_by_size

In [ ]:
# C.2 Plot average total bill by party size

plt.figure()
sns.barplot(data=bill_by_size, x="size", y="avg_total_bill")
plt.title("Average Total Bill by Party Size")
plt.xlabel("Party Size (Number of People)")
plt.ylabel("Average Total Bill ($)")
plt.show()

#### Insight for Question 3

Example insight:

> **Insight Q3:**  
> Larger groups (higher party size) tend to have a **higher average bill**.  
> This is expected, since more people usually order more items.  
> The restaurant can plan seating and staff based on the most common group sizes.

You can also point out:

- `num_orders` column tells us how many tables had each size.
- If one size has very few observations, we should be cautious about the conclusion.

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h3> Putting It Together – Our 3-Chart EDA Story


Now we combine everything into a short **data story**.

**Story Outline:**

1. **Revenue by Day (Q1):**  
   - Which days bring the highest revenue?

2. **Tip Behavior (Q2):**  
   - When do customers tip the highest %?

3. **Party Size (Q3):**  
   - Do larger tables spend more?

Encourage students to write a short story, for example:

> The restaurant earns the highest **total revenue** on **X and Y**.  
> Customers give the **highest tip percentage** on **A at B time**.  
> Larger groups tend to have **higher average bills**, especially for size ≥ N.  
> Therefore, the restaurant should **focus staff and offers** on **[best days/times]** and ensure it can **handle larger groups** efficiently.

This is **Storytelling with EDA**:
- Charts + Numbers + Plain Language + Recommendations.

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h3> Summary

- Learned what a **data story** is:
  - Question → Data → Analysis → Visualization → Insight → Recommendation
- Used **SQL** (`SELECT`, `WHERE`, `GROUP BY`, `ORDER BY`) to prepare data for EDA
- Used **Pandas + Seaborn** to:
  - Plot **total revenue by day**
  - Plot **average tip % by day and time**
  - Plot **average bill by party size**
- Connected charts to **plain-language insights** and **simple recommendations**

This is exactly how data analysts and data scientists present findings to non-technical people.
Next, you’ll keep building on this and move into **ML Foundations & Evaluation Metrics**.

<div class="alert alert-block alert-warning">
    <b><font size="5"> Live Exercise</font> </b>
</div>

<!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->


#### Exercise 1 – New Question on Day & Size

Ask a new question:

> On which **day** do we see the **largest average party size**?

Steps:

1. Write a SQL query:
   - `GROUP BY day`
   - `AVG(size)`
2. Visualize the result with a bar plot.
3. Write a one-sentence insight.

####  Exercise 2 – Tip % by Smoker/Non-Smoker

Question:

> Do **smokers** tip differently than **non-smokers**?

Steps:

1. Use SQL:
   ```sql
   SELECT smoker, AVG(tip_pct) AS avg_tip_pct
   FROM orders
   GROUP BY smoker;
2. Plot a bar chart of avg_tip_pct by smoker.

3. Write an insight.

<div style="background-color: lightblue; color: white; padding: 10px; text-align: center;">
    <h1>_________________________________END________________________________
        <!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->
</h1> </div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        <!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->
</h1> </div>

<div style="background-color: lightgreen; color: black; padding: 30px;">
    <h4> Live Exercise Solutions
        
</h4> </div>

#### Task 1 solution

```python
# Starter code for Exercise 1 (students can modify)

query_ex1 = """
SELECT
    day,
    AVG(size) AS avg_size
FROM orders
GROUP BY day
ORDER BY avg_size DESC;
"""

avg_size_by_day = pd.read_sql_query(query_ex1, conn)
avg_size_by_day

In [ ]:
# Starter code for Exercise 2

query_ex2 = """
SELECT
    smoker,
    AVG(tip_pct) AS avg_tip_pct
FROM orders
GROUP BY smoker;
"""

tip_pct_by_smoker = pd.read_sql_query(query_ex2, conn)
tip_pct_by_smoker

#### Task 2 solution

<!--- Mohammad Idrees Bhat | Mohammad Idrees Bhat --->

<h2 style="background-color: #ffe4e1; color: #2f4f4f; padding: 10px; border-radius: 10px; width: 350px; text-align: center; float: right; margin: 20px 0;">
    Mohammad Idrees Bhat<br>
    <span style="font-size: 12px; color: #696969;">
        Tech Skills Trainer | AI/ML Consultant
    </span>
</h2>

<!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->