<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: center; position: absolute; right: 20px;color: #0a0a0a; ">
        Mohammad Idrees Bhat <br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #0a0a0a;">Tech Skills Trainer | AI/ML Consultant</span> <!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->

<!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->

<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
    SQL Basics <br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;">  --

<div style="background-color: grey; color: black; padding: 10px;">
    <h4>

<b>AGENDA</b> 

1.  
2.  
3.  
4.

<div style="background-color: grey; color: black; padding: 10px;">
    <h4><b>Skills Covered</b> <p><p>

- ...

<div style="background-color: grey; color: black; padding: 10px;">
    <h4><b>Learning Outcomes</b> <p><p>

youâ€™ll learn the **core building blocks** of SQL:

- What SQL is and what a **table** looks like  
- How to **select** data with `SELECT ... FROM`  
- How to **filter** with `WHERE`  
- How to **sort** results with `ORDER BY`  
- How to use **functions** like `COUNT`, `SUM`, `AVG`  
- How to group data with `GROUP BY` and filter groups with `HAVING`  
- How to **join** tables together with `JOIN`

<!-- Link the Montserrat font -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<!-- Main div with centered content and a flexible box size, no scroll bar -->
<div style="background-color: #baf733; min-height: 100px; width: 100%; display: flex; justify-content: center; align-items: center; position: relative; padding: 20px; box-sizing: border-box; font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 20px; border-radius: 15px;">
    <div style="position: absolute; top: 10px; right: 10px; padding: 5px 10px; font-size: 14px; color: rgba(0, 0, 0, 0.05); border-radius: 10px;">Mohammad Idrees Bhat</div>
    <!-- Fill the below text with question -->
    <!-- Fill the below text with question -->
    Whatâ€™s one thing you love doing with your friends?
    <!-- Fill the above text with question -->
    <!-- Fill the above text with question -->

</div>

- [SQL bolt](https://sqlbolt.com/)
- [Khan Academy SQL](https://www.khanacademy.org/computing/computer-programming/sql) 
- [HackerRank](https://www.hackerrank.com/domains/sql)
- [Data Lemur Tutorials](https://datalemur.com/sql-tutorial/intro-to-sql)
-

- [Practice WHERE](https://datalemur.com/questions/sql-where-practice-exercise)

-

Weâ€™ll use two simple tables:

- `employees`
- `departments`

> ðŸ’¡ You can run the `CREATE TABLE` and `INSERT` statements once in any SQL environment  
> (e.g., SQLite, PostgreSQL, MySQL â€“ small syntax differences, but concepts are the same).

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4>   Setup â€“ Create Sample Tables (Run Once)

```sql
-- Create departments table
CREATE TABLE departments (
    id          INTEGER PRIMARY KEY,
    name        TEXT
);

-- Create employees table
CREATE TABLE employees (
    id              INTEGER PRIMARY KEY,
    name            TEXT,
    department_id   INTEGER,
    salary          INTEGER,
    city            TEXT,
    hire_year       INTEGER,
    FOREIGN KEY (department_id) REFERENCES departments(id)
);

-- Insert some departments
INSERT INTO departments (id, name) VALUES
(1, 'Engineering'),
(2, 'Sales'),
(3, 'HR'),
(4, 'Support');

-- Insert some employees
INSERT INTO employees (id, name, department_id, salary, city, hire_year) VALUES
(1, 'Ali',        1, 90000, 'New York',    2020),
(2, 'Bina',       1, 75000, 'New York',    2021),
(3, 'Chen',       2, 65000, 'Chicago',     2019),
(4, 'Dina',       2, 70000, 'Chicago',     2018),
(5, 'Eva',        3, 50000, 'Boston',      2022),
(6, 'Faruk',      4, 45000, 'Boston',      2020),
(7, 'Gina',       1, 105000, 'New York',   2017),
(8, 'Hassan',     4, 40000, 'Chicago',     2023),
(9, 'Isha',       2, 72000, 'New York',    2021),
(10, 'Jamal',     3, 52000, 'Chicago',     2019);

## 1. Basic SELECT â€“ Reading Data

`SELECT` is how we ask questions from a table.

In [ ]:
-- 1.1 See everything from employees
SELECT *
FROM employees;

In [ ]:
-- 1.2 Select specific columns
SELECT name, city, salary
FROM employees;

### Exercise 1

1. Show only `name` and `hire_year` from `employees`.  
2. Show only `id`, `name`, and `department_id` from `employees`.

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4>   Filtering Rows with WHERE



`WHERE` lets you keep only rows that match a condition.

In [ ]:
-- 2.1 Employees in New York
SELECT name, city, salary
FROM employees
WHERE city = 'New York';

In [ ]:
-- 2.2 Employees with salary greater than 70,000
SELECT name, salary
FROM employees
WHERE salary > 70000;

In [ ]:
-- 2.3 Employees in New York AND salary > 80,000
SELECT name, city, salary
FROM employees
WHERE city = 'New York' AND salary > 80000;

In [ ]:
-- 2.4 Employees in Chicago OR Boston
SELECT name, city
FROM employees
WHERE city = 'Chicago' OR city = 'Boston';

In [ ]:
-- 2.5 Using IN
SELECT name, city
FROM employees
WHERE city IN ('New York', 'Chicago');

In [ ]:
-- 2.6 Using BETWEEN
SELECT name, salary
FROM employees
WHERE salary BETWEEN 50000 AND 80000;

In [ ]:
-- 2.7 Using LIKE (name starts with 'A')
SELECT name, salary
FROM employees
WHERE name LIKE 'A%';

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4>  Sorting with ORDER BY (and LIMIT)

`ORDER BY` changes the order of rows.

In [ ]:
-- 3.1 Sort by salary (low to high)
SELECT name, salary
FROM employees
ORDER BY salary ASC;

In [ ]:
-- 3.1 Sort by salary (low to high)
SELECT name, salary
FROM employees
ORDER BY salary ASC;

In [ ]:
-- 3.2 Sort by salary (high to low)
SELECT name, salary
FROM employees
ORDER BY salary DESC;

In [ ]:
-- 3.3 Sort by city, then salary (high â†’ low within each city)
SELECT name, city, salary
FROM employees
ORDER BY city ASC, salary DESC;

In [ ]:
-- 3.4 Top 3 highest paid employees (if LIMIT is supported)
SELECT name, salary
FROM employees
ORDER BY salary DESC
LIMIT 3;

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4>  Calculated Columns & Aliases



We can create new values in the query.

In [ ]:
-- 4.1 Show monthly salary (assuming 12 months)
SELECT
    name,
    salary,
    salary / 12 AS monthly_salary
FROM employees;

#### Exercise 
1. Show `name`, `salary`, and `salary * 1.10` as `salary_after_10_percent_raise`.  
2. Show `name`, `hire_year`, and `2025 - hire_year` as `years_worked`.

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4>  Aggregate Functions (COUNT, SUM, AVG, MIN, MAX)

In [ ]:
-- 5.1 How many employees?
SELECT COUNT(*) AS total_employees
FROM employees;

In [ ]:
-- 5.2 Average salary
SELECT AVG(salary) AS avg_salary
FROM employees;

In [ ]:
-- 5.3 Min and max salary
SELECT
    MIN(salary) AS min_salary,
    MAX(salary) AS max_salary
FROM employees;

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4>  GROUP BY â€“ Aggregation by Category

In [ ]:
-- 6.1 Count employees per city
SELECT
    city,
    COUNT(*) AS num_employees
FROM employees
GROUP BY city;

In [ ]:
-- 6.2 Average salary per city
SELECT
    city,
    AVG(salary) AS avg_salary
FROM employees
GROUP BY city;

In [ ]:
-- 6.3 Average salary per department
SELECT
    department_id,
    AVG(salary) AS avg_salary
FROM employees
GROUP BY department_id;

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4>  HAVING â€“ Filter Groups (After GROUP BY)

In [ ]:
-- 7.1 Cities with more than 2 employees
SELECT
    city,
    COUNT(*) AS num_employees
FROM employees
GROUP BY city
HAVING COUNT(*) > 2;

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h3>   Introduction to EDA

<div style="background-color: lightblue; color: black; padding: 4px;">
    <h4>  HAVING â€“ Filter Groups (After GROUP BY)

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h3>  Visualization Tools: Matplotlib & Seaborn

<div style="background-color: lightgreen; color: black; padding: 4px;">
    <h3> Summary

<div class="alert alert-block alert-warning">
    <b><font size="5"> Live Exercise</font> </b>
</div>

<!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->

Now it's your turn!
#### Exercise 1

#### Exercise 2

<div style="background-color: lightblue; color: white; padding: 10px; text-align: center;">
    <h1>_________________________________END________________________________
        <!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->
</h1> </div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        <!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->
</h1> </div>

<div style="background-color: lightgreen; color: black; padding: 30px;">
    <h4> Live Exercise Solutions
        
</h4> </div>

#### Task 1 solution

#### Task 2 solution

<!--- Mohammad Idrees Bhat | Mohammad Idrees Bhat --->

<h2 style="background-color: #ffe4e1; color: #2f4f4f; padding: 10px; border-radius: 10px; width: 350px; text-align: center; float: right; margin: 20px 0;">
    Mohammad Idrees Bhat<br>
    <span style="font-size: 12px; color: #696969;">
        Tech Skills Trainer | AI/ML Consultant
    </span>
</h2>

<!--- Mohammad Idrees Bhat | Tech Skills Trainer | AI/ML Consultant --->